<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Annual ski trip | Dolomites, South Tyrol, Italy</title>

  <!-- Bootstrap Core CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" rel="stylesheet">
  
  <!-- Custom Fonts -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="/<%- vendor.css %>" rel="stylesheet">
  <link href="/<%- main.css %>" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6440284-14"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-6440284-14');
  </script>
</head>

<body id="what" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          Menu <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="page-scroll" href="#what">What?</a>
          </li>
          <li>
            <a class="page-scroll" href="#when">When?</a>
          </li>
          <li>
            <a class="page-scroll" href="#where">Where?</a>
          </li>
          <li>
            <a class="page-scroll" href="#how-much">How much?</a>
          </li>
          <li>
            <a class="page-scroll" href="#how">How?</a>
          </li>
          <li>
            <a class="page-scroll" href="#videos">Videos!</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Intro Header -->
  <header class="intro" style="background: url(./intro-bg.jpg) no-repeat bottom center scroll; background-size: cover;">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Dolomites</h1>
            <h2>South Tyrol, Italy</h2>

            <p class="intro-text">Annual ski-trip with friends..</p>
            <a href="#when" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- When Section -->
  <section id="when" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>When?</h2>
        <p>19-28th January, 2018</p>

        <p><a class="btn btn-default" href="#">Add to Calendar</a></p>
      </div>
    </div>
  </section>

  <!-- Where Section -->
  <section id="where" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Where do we stay?</h2>

        <address>
          <strong><a href="http://www.faller-wiesenhof.it/apartments-wiesenhof-eggental-valley-p120.html">Residence Wiesenhof</a></strong><br>
          Fam. Faller Holzerstreet 4</br>

          <strong>I-39050 DEUTSCHNOFEN
          </br>Eggental - South Tyrol - Dolomites</strong>
          
          </br>
          <a href="tel:+39 0471 616593">+39 0471 616593</a> / <a href="tel:+39 0471 616501">+39 0471 616501</a></br>
          <a href="mailto:info@faller-wiesenhof.it">info@faller-wiesenhof.it</a>
        </address>
        
        <p><a class="btn btn-default" href="http://www.faller-wiesenhof.it/online-booking-apartment-deutschnofen-p175.html">Booking online</a></p>

      </div>
    </div>
  </section>

  <!-- How Much Section -->
  <section id="how-much" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>How much?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates eligendi eum, modi ex at quidem nulla, nostrum officia reprehenderit distinctio earum, minus dolores. Architecto rem facilis consequatur officia deleniti, libero.</p>
        
        <table class="table">
          <tr>
            <th>Accommodation</th>
            <td>About €25 <abbr title="Per Person Per Night">PPPN</abbr></td>
          </tr>

          <tr>
            <th>Ski/Snowboard hire</th>
            <td>About €100 for 6 days</td>
          </tr>

          <tr>
            <th>Breakfast</th>
            <td>Purchased at the supermarket and cooked yourself</td>
          </tr>

          <tr>
            <th>Lunch</th>
            <td>€15-20 on a mountain. Beer + Goulash + Coffee</td>
          </tr>

          <tr>
            <th>Dinner</th>
            <td>€15-40 per day, depends on a place we decide to go</td>
          </tr>

          <tr>
            <th>Skipass</th>
            <td>€43-51 per day, depends on slope. <a href="http://www.dolomitisuperski.com/en/ski-pass/prices">info</a></td>
          </tr>

          <tr>
            <th>Car</th>
            <td>--</td>
          </tr>

          <tr>
            <th>Bus from hotel to a mountain</th>
            <td>Free</td>
          </tr>

          <tr>
            <th>Taxi from hotel to a mountain</th>
            <td>€25 for a van</td>
          </tr>
        </table>

      </div>
    </div>
  </section>

  <!-- How Section -->
  <section id="how" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>How?</h2>
        <table class="table">
          <tr>
            <th>From London, UK</th>
            <td>LGW-VRN, British Airways, 13:20 - 16:20</td>
          </tr>

          <tr>
            <th>To London, UK</th>
            <td>VRN-LGW, British Airways, 11:25 - 12:25</td>
          </tr>

          <tr>
            <th>Verona airport to Bozen/Bolzano (Hotel)</th>
            <td>
              One way: 45,00€, Round trip: 80,00 €<br>
              Bus 1: 10:30-12:30<br>
              Bus 2: 14:30-16:30<br>
              Bus 3: 18:30-20:30<br>
              Bus 4: 22:30-00:30<br>
              <a href="http://www.busgroup.eu/en/">More info</a>
            </td>
          </tr>

          <tr>
            <th>Bozen/Bolzano (Hotel) to Verona airport</th>
            <td>
              One way: 45,00€, Round trip: 80,00 €<br>
              Bus 1: 00:25-02:30<br>
              Bus 2: 03:25-05:30<br>
              Bus 3: 08:25-10:30<br>
              Bus 4: 12:25-14:30<br>
              <a href="http://www.busgroup.eu/en/">More info</a>
            </td>
          </tr>

          <tr>
            <th>Verona airport transfer Taxi</th>
            <td>
              1-3 people: € 240,00<br>
              4-8 people: € 260,00
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <section id="videos" class="container content-section text-center">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/TVA6QDPe_zw"></iframe>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/YcyyTlLOTwY"></iframe>
        </div>
      </div>

      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/qfq9XrnMeNc"></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/nA10KNZG-oA"></iframe>
        </div>
      </div>

      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/OOjebtjK6i4"></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <small>© <a href="https://demenchuk.me">Dmitry Demenchuk</a>, released under the <a href="https://spdx.org/licenses/WTFPL.html">WTFPL</a> license.</small>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- Plugin JavaScript -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="/<%- vendor.js %>"></script>
  <script src="/<%- main.js %>"></script>
</body>

</html>
